
// COLORS
$color-white:#f1f1f1;
$color-white-s:#f7f7f7;
$color-white-d:#e7e7e7;

$color-grey-d:#777;
$color-grey-d2:#999;

$color-dark-black:#242424;
$color-medium-black:#000000;
$color-Light-brown:#917600bb;
$color-Medium-brown:#685502;
$color-Dark-brown:#423501f8;

$color-Light-Ye:#fbff00ec;
$color-Medium-Ye:#a9ac04ec;
$color-Dark-Ye:#737500ec;

$color-red:#c02409ec;

$color-Light-oe:#df9800ec;
$color-Medium-oe:#be8303ec;
$color-Dark-oe:#a77200ec;


//TEMP GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

//font-sizes
$default-font-size:1.6rem;